<app-nav-bar></app-nav-bar>


<br />
<div class="alert alert-primary" *ngIf="message.length>0" role="alert">
   {{message}}
  </div>
<div class="d-none d-lg-block">
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>Nom et prénoms</th>
                <th>Adresse</th>
                <th>Plats et Quantité</th>
                <th>Date</th>
                <th>Attribution</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let plat of platNotAssigned; let i = index">
                <td>
                    <div class="d-flex align-items-center">
                        <img src="../../assets/images/8.jpg" class="rounded-circle" alt=""
                            style="width: 45px; height: 45px" />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">
                                {{plat['utilisateur'][0]['nom'] +" "+plat['utilisateur'][0]['prenom']}}
                            </p>
                            <p class="text-muted mb-0">{{plat['utilisateur'][0]['contact']}}</p>
                        </div>
                    </div>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{plat['utilisateur'][0]['adresse']}}</p>
                    <p class="text-muted mb-0">{{plat['utilisateur'][0]['email']}}</p>
                </td>
                <td>
                    <span class="">{{plat['plat'][0]['designation']}}</span><br>
                    <span class="badge badge-primary rounded-pill d-inline">{{plat['quantite']}}</span>
                </td>
                <td>{{plat['createdAt']}}</td>
                <td>
                    <input type="text" (keyup)="searchOnKeyUp($event)" list="SearchResults" />
                    <datalist id="SearchResults">
                        <option *ngFor="let sr of livreurs" [value]="sr['prenom']"></option>
                    </datalist>
                    <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold" (click)="onAssign(plat)" data-mdb-ripple-color="dark">
                        Attribuer
                    </button>
                </td>
            </tr>

        </tbody>
    </table><br>
    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination pg-blue">
                <li class="page-item ">
                    <a class="page-link" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link">1</a></li>
                <li class="page-item active">
                    <a class="page-link">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link">3</a></li>
                <li class="page-item ">
                    <a class="page-link">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="d-lg-none">
<div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
</div>
<app-footer></app-footer>